<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' ) }}">
    </head>
    <body>

        <div class="jumbotron text-center">
            <h2>Sentiment Analysis Model</h2>
            <p>Enter some text in the box and hit "Run Model!" to get the sentiment!</p>
        </div>

        <div class='container'>
            <div class='row'></div>
            <div class='row'>
                <div class='col-md-6'>
                    <h4>Enter Text:</h4>
                    <textarea rows="5" cols="60" name="text" id="user_input" placeholder="Enter text"></textarea>
                    <input id="submit-button" type="submit" value="Run Model!" />

                    <p id="inputted-text" placeholder="Inputted Text"></p>
                    <h4 id="prediction" placeholder="Sentiment Prediction"></h4>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='pyServerConn.js') }}"></script>

    </body>
</html>
