<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' ) }}">
    </head>
    <body>

        <div class="jumbotron text-center">
            <h2>Sentiment Analysis Model</h2>
            <p>Enter some text in the box and hit "Run Model!" to get the sentiment!</p> 
        </div>

        <div class='container'>
            <div class='row'></div>
            <div class='row'>
                <div class='col-md-6'>
                    <h4>Enter Text:</h4>
                    <textarea rows="5" cols="60" name="text" id="user_input" placeholder="Enter text"></textarea>
                    <button id="button" onclick="changeText()">click here</button>
                    <p id="replace">enter text</p>
                    <!--<form action='hello' , method="GET">
                        <textarea rows="5" cols="60" name="text" id="user_input" placeholder="Enter text"></textarea>
                        <input type="submit" value="Run Model!" />
                    </form>-->
                    <!--<p>{{ inputText }}</p>
                    <h4 id="pred">{{ prediction }}</h4>-->
                </div>
            </div>
        </div>

        <script>
            document.onreadystatechange = function () {
                switch (this.readyState) {
                    case "loading":
                        break;
                    case "interactive":
                        var button = document.getElementById("button");
                        var textarea = document.getElementById("text");
                        button.onclick = function () {
                            console.log(textarea.value);
                        };
                        break;
                    case "complete":
                        break;
                }
            };

            function changeText() {
                var x = document.getElementById("text").value;
                document.getElementById("text").innerHTML = x
                var data = document.getElementById("text").value;
                console.log(data)
                //var data_obj = { "text": data }
                //console.log(data_obj)
                //console.log(typeof (data_obj))
            }
        </script>

        <!--<script>
            fetch('/hello', {
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'POST',
                body: data_obj
            }).then(function (response) {
                return response.text();
            }).then(function (text) {
                console.log('POST response: ');
                console.log(text);
            });
        </script>-->
        
        
       
    </body>
</html>
