#title{
    color: darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#instructions{
    color: darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#input{
    color: darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#pred{
    color: darkgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}